.mingle-app {
  min-height: 100vh;
  padding: 20px;
  background: linear-gradient(135deg, #100020, #4b0082, #7b2cff);
  color: white;
  font-family: Arial, sans-serif;
}

/* Profile */

.profile-header {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 20px;
  border-radius: 25px;
  background: rgba(255,255,255,0.15);
  backdrop-filter: blur(15px);
}

.avatar {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background: white;
  color: #7b2cff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
}

.profile-info h2 {
  margin: 0;
}

.pi-badge {
  background: white;
  color: #7b2cff;
  padding: 3px 8px;
  border-radius: 20px;
  font-size: 14px;
}


/* Stories */

.stories {
  display: flex;
  gap: 15px;
  overflow-x: auto;
  margin: 25px 0;
}

.story {
  min-width: 70px;
  height: 70px;
  border-radius: 50%;
  background: rgba(255,255,255,0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 25px;
}

.story span {
  font-size: 11px;
  margin-top: 5px;
}
.feed {
  max-width: 600px;
  margin: auto;
}

.post-card {
  background: rgba(255,255,255,0.15);
  backdrop-filter: blur(15px);
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 25px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.25);
}

.post-header {
  display: flex;
  align-items: center;
  gap: 12px;
}

.mini-avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: white;
  color: #7b2cff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
}

.post-card p {
  font-size: 16px;
  line-height: 1.5;
  margin: 20px 0;
}

.post-actions {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.post-actions button {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 20px;
  background: rgba(255,255,255,0.2);
  color: white;
  cursor: pointer;
}


/* Bottom Navigation */

.bottom-nav {
  position: sticky;
  bottom: 10px;
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
  padding: 15px;
  border-radius: 30px;
  background: rgba(255,255,255,0.18);
  backdrop-filter: blur(15px);
}

.bottom-nav div {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 13px;
}

.create-btn {
  background: white;
  color: #7b2cff;
  padding: 8px;
  border-radius: 50%;
}
